<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace命名空间，作用就是对sql进行分类化管理，理解sql隔离 注意：使用mapper代理方法开发，namespace有特殊重要的作用，namespace等于mapper接口地址 -->
<mapper namespace="digitalCanteenSSM.mapper.LogRecordMapper">
	<!-- 添加日志 -->
	<select id="insertLog" parameterType="Log">
		INSERT INTO ctlog(LogCreateDate, MUserID, MUserName, MUserCampus, MUserCant, LogOperation, LogContent)
		VALUES(NOW(),#{muserID},#{muserName},#{muserCampus},#{muserCant},#{logOperation},#{logContent})
	</select>
	
	<!-- 查找所有日志 -->
	<select id="findAllLog" resultType="Log">
		SELECT * FROM ctlog
	</select>
</mapper>
