<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace命名空间，作用就是对sql进行分类化管理，理解sql隔离 注意：使用mapper代理方法开发，namespace有特殊重要的作用，namespace等于mapper接口地址 -->
<mapper namespace="digitalCanteenSSM.mapper.RecordMapper">

	<!-- 查询某个食堂的历史录入信息,以降序排列(后录入的排在前面) -->
	<select id="findRecordInCanteen" parameterType="Integer" resultType="Record">
		SELECT * 
		FROM ctrecord
		WHERE ctrecord.RecordCantID = #{recordCantID } 
		ORDER BY RecordDate DESC
	</select>
	
	<!-- 按时间查询某个食堂的历史录入信息 -->
	<select id="findRecordInCanteenByDate"  resultType="Record">
		SELECT * 
		FROM ctrecord
		WHERE ctrecord.RecordCantID = #{0 } 
		and  DATE_FORMAT(ctrecord.RecordDate,'%Y-%m-%d') between  DATE_FORMAT(#{1}, '%Y-%m-%d')  and  DATE_FORMAT(#{2}, '%Y-%m-%d') 	
		ORDER BY RecordCantID,RecordDate DESC
	</select>
	
	<!-- 查询某个校区的历史录入信息 -->
	<select id="findRecordInCampus" parameterType="Integer" resultType="Record">
		SELECT *
		FROM ctrecord
		WHERE ctrecord.RecordCampusID = #{campusID} 
		ORDER BY RecordCantID,RecordDate DESC
	</select>
	
	<!-- 按时间查询某个校区的历史录入信息 -->
	<select id="findRecordInCampusByDate"  resultType="Record">
		SELECT *
		FROM ctrecord
		WHERE ctrecord.RecordCampusID = #{0} 
		and  DATE_FORMAT(ctrecord.RecordDate,'%Y-%m-%d') between  DATE_FORMAT(#{1}, '%Y-%m-%d')  and  DATE_FORMAT(#{2}, '%Y-%m-%d') 	
		ORDER BY RecordCantID,RecordDate DESC
	</select>

	<!-- 查询某个食堂某一天的录入RecordID -->
	<select id="findRecordID" parameterType="Record" resultType="Integer">
		SELECT ctrecord.RecordID 
		FROM ctrecord
		WHERE ctrecord.RecordCantID = #{recordCantID } and ctrecord.RecordDate=#{recordDate }
	</select>
	
	<!-- 查询是否有这一天的记录 -->
	<select id="findRecordByDate" parameterType="Record" resultType="Record">
		SELECT *
		FROM ctrecord
		WHERE ctrecord.RecordDate=#{recordDate }
	</select>
	
	<!-- 查看某一天该食堂是否已经录入 -->
	<select id="findRecordInCanteenAndDate" parameterType="Record" resultType="Record">
		SELECT *
		FROM ctrecord
		WHERE ctrecord.RecordCantName=#{recordCantName} and ctrecord.RecordDate = #{recordDate}
	</select>
	
	<!-- 根据RecordID删除该记录信息 -->
	<select id="deleteRecord"  parameterType="Record" >
		DELETE	FROM ctrecord 
		WHERE ctrecord.RecordID=#{recordID}		
	</select>
	
	<!-- 插入记录信息 -->
	<select id="insertRecord"  parameterType="Record">
		Insert into ctrecord (ctrecord.RecordCampusID,ctrecord.RecordCantID,
		ctrecord.RecordCampusName,ctrecord.RecordCantName,
		ctrecord.RecordMUserID,ctrecord.RecordMUserName,
		ctrecord.RecordDate,ctrecord.RecordSubmitState) 
		values (#{recordCampusID},#{recordCantID},
		#{recordCampusName},#{recordCantName},
		#{recordMUserID},#{recordMUserName},
		#{recordDate},#{recordSubmitState})	
	</select>
</mapper>