<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace命名空间，作用就是对sql进行分类化管理，理解sql隔离 注意：使用mapper代理方法开发，namespace有特殊重要的作用，namespace等于mapper接口地址 -->
<mapper namespace="digitalCanteenSSM.mapper.DishMapper">
	
	<!-- 查询所有的菜品的信息,以降序排列(后录入的排在前面) -->
	<select id="queryAllDishes" resultType="Dish">
		SELECT * 
		FROM ctdish
		ORDER BY DishWndID DESC, DishID DESC
	</select>
	
	<!-- 根据DishID查询该菜品信息 -->
	<select id="findDishById"  parameterType="Dish" resultType="Dish">
		SELECT * 
		FROM ctdish
		WHERE ctdish.DishID=#{dishID}		
	</select>
	
	<!-- 根据DishName查询该菜品信息 -->
	<select id="findDishByName"  parameterType="Dish" resultType="Dish">
		SELECT * 
		FROM ctdish 
		WHERE ctdish.DishName=#{dishName}		
	</select>
	
	<!-- 查询一个档口下的所有菜品 -->
	<select id="queryDishesInWindow" parameterType="Window" resultType="Dish">
		SELECT * 
		FROM ctdish 
		WHERE ctdish.DishWndID=window.wndID
	</select>
	
	<!-- 根据DishID更新菜品信息 -->
	<select id="updateDishById"  parameterType="Dish">
		UPDATE ctdish 
		SET ctdish.DishWndID= #{dishWndID}
			ctdish.DishName= #{dishName} 
			ctdish.DishPrice= #{dishPrice} 
			ctdish.DishDate= #{dishDate}  
			ctdish.DishRecmd= #{dishRecmd}
			ctdish.DishKeep= #{dishKeep} 
			ctdish.DishSale= #{dishSale} 
			ctdish.DishInDate= #{dishInDate}  
			ctdish.DishNote= #{dishNote} 
			ctdish.DishDelete= #{dishDelete} 
		WHERE ctdish.DishID=#{dishID};		
	</select>
	
	<!-- 根据DishID删除菜品信息 -->
	<select id="deleteDishById"  parameterType="Dish">
		Delete from ctdish 
		where ctdish.DishID=#{dishID}
	</select>
	
	<!-- 添加菜品信息 -->
	<select id="insertDish"  parameterType="Dish">
		Insert into ctdish (ctdish.DishWndID,
		ctdish.DishTypeID,ctdish.DishName,
		ctdish.DishPrice,ctdish.DishDate,
		ctdish.DishRecmd,ctdish.DishKeep,
		ctdish.DishSale,ctdish.DishInDate,
		ctdish.DishNote,ctdish.DishDelete) 
		values (#{dishWndID},
		#{dishName},#{dishPrice},
		#{dishDate},#{dishRecmd},
		#{dishKeep},#{dishSale},
		#{dishInState},#{dishNote},
		#{dishDelete})
	</select>
	
</mapper>