<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace命名空间，作用就是对sql进行分类化管理，理解sql隔离 注意：使用mapper代理方法开发，namespace有特殊重要的作用，namespace等于mapper接口地址 -->
<mapper namespace="digitalCanteenSSM.mapper.UserMapper">

	<!-- 根据Name查询该用户的信息 -->
	<select id="findUserByName" parameterType="User" resultType="UserItems">
		SELECT * 
		FROM ctuser,ctrole
		WHERE ctuser.UserName=#{userName} and 
			ctuser.UserRoleID = ctrole.RoleID
	</select>

	<!-- 通过UserID查询用户信息 -->
	<select id="findUserByID" parameterType="Integer" resultType="UserItems">
		SELECT * 
		FROM ctuser,ctrole
		WHERE ctuser.UserID=#{userID} and 
			ctuser.UserRoleID = ctrole.RoleID
	</select>
</mapper>